body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #330066; /* Indigo blue */
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center;     /* horizontal center */
    text-align: center;
    color: white;
}

.title {
    font-size: 72px;
    margin: 0;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 16px;
}
